<%= content_for :sidebar do %>
  <h3><%= link_to l('redmine_special_days.new_day_type'), {:action => 'new'}, :class => 'icon icon-add' %></h3>
<% end %>

<h2><%= l('redmine_special_days.day_types') %></h2>

<table class="list">
  <thead>
    <tr>
      <th><%= l('redmine_special_days.day_type.name')%></th>
      <th><%= l('redmine_special_days.day_type.color')%></th>
      <th><%= l('redmine_special_days.day_type.duration')%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @day_types.each do |day_type| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= day_type.name %></td>
        <td><div style="background: <%= day_type.color %>">&nbsp;</div></td>
        <td align="center"> <%= day_type.duration %> <%= l('redmine_special_days.hours') %></td>
        <td class="buttons">
          <%= link_to l('button_edit'), edit_day_type_path(day_type), :class => 'icon icon-edit' %>
          <%= link_to l('button_delete'), day_type_path(day_type), :class => 'icon icon-delete',
                                        :method => :delete,
                                        :confirm => l(:text_are_you_sure) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
